version: '3.8'

services:
  db:
    env_file:
      - .env.development
    image: postgres:18
    restart: always
    command: ['postgres', '-c', 'timezone=America/Mexico_City']
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - '${POSTGRES_PORT:-5432}:5432'
    volumes:
      - pgdata:/var/lib/postgresql
volumes:
  pgdata:
